
@model IEnumerable<unclesam.Models.TrainSchedule>

@{
    ViewBag.Title = "Train Page";
}

<h2 class="panel-heading">Train Dashboard</h2>
 



<table class="table table-responsive">
    <tr>
        <th>Train SlNo</th>
        <th>Train Name</th>
        <th>From</th>
        <th>ScheduleTime</th>
        
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleTime.TimeOfDay)
        </td>

        <td> 
            
                @if(item.Id == 4)
                {
                    <i>Next Day</i>
                }
             
        </td>
         
    </tr>
    }
    
</table>